.quoted::after{
  content: "!";
  color: white;
  background-color: tomato;
}
.funny::after{
content: icon;
}
.point::before{
  content: ".";
  color: azure;
  background-color: blueviolet;
}
.tooltip{
  position: relative;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.tooltip::before{
  content: "";
border:10px solid black;
border-color: transparent transparent rgb(68, 37, 37) transparent;
display: inline-block;

position: absolute;
top: 100%;
left: 10px;
margin-top: -9px;

visibility: hidden;
}
.tooltip:hover::before,
.tooltip:hover::after{
  visibility: visible;
}
.tooltip::after{
  content: "I love you";

  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(156, 92, 105);
  color: beige;
  border-radius: 10px;

  position: absolute;
  top:100%;
  left: -10px;
  width: 200px;
  margin-top: 10px;

  visibility: hidden;
}
